# exclude all
/*

# Include Important Folders
!src/

# Other Files.
!LICENSE
!LICENSE-header.txt
!README.md
!Jenkinsfile

# Gradle stuff
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!settings.gradle

# Include git important files
!.gitmodules
!.gitignore
